@import 'colors/colors.css';

* {
    border: none;
    border-radius: 5px;

    font-family: "Iosevka", "Segoe Fluent Icons"; /*"JetBrainsMono NFP", "Segoe Fluent Icons", monospace;*/
    font-size: 16px;
    font-weight: 600;

    min-height: 0;
    padding:  0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

.modules-right {
    margin: 2px 10px 0 0;
}
.modules-center {
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 10px;
}

#clock,
#workspaces,
#cava,
#tray,
#window,
#mpris,
#mpris.passive,
#cpu,
#pulseaudio,
#wireplumber,
#custom-notification,
#custom-powermenu {
    padding: 0 12px;
    margin: 4px 2px;
    background-color: @background;
}

/* -------🐰 LEFT MODULES 🐰------- */

#clock {
    color: @lavender;
}

#cava {
    color: @lavender;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 8px;
    color: @text-secondary;
    background: transparent;
}

#workspaces button.active {
    color: @lavender;
    background-color: @background-secondary;
    margin: 4px 2px;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button:hover {
    color: @text;
}


/* -------🐰 CENTER MODULES 🐰------- */


#window {
    color: @lavender
}

/* -------🐰 RIGHT MODULES 🐰------- */
#mpris.playing {
    background-color: @lavender;
    color: @background;
}

#mpris. {;
    color: @lavender;
}

#cpu {
    color: @lavender
}

#wireplumber {
    color: @lavender
}

#pulseaudio {
    color: @purple;
    padding: 0 15px;
}

#pulseaudio.muted {
    color: @text-secondary;
}

#custom-notification {
    padding: 0 10px;      /* Even horizontal padding to center the icon */
    margin: 4px 2px;
    color: @lavender;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray menu {
    font-family: sans-serif;
}

/* -------🐰 HOVER EFFECTS 🐰------- */
#pulseaudio:hover, 
#custom-notification:hover {
    background-color: @background-secondary;
}
