/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 *
        *[DarkNight]
        accent=a980db
        accent-active=a980db
        accent-inactive=141118
        banner=a980db
        border-active=a980db
        border-inactive=262429
        header=262429
        highlight=24283b
        main=141118
        notification=a980db
        notification-error=ff5252
        subtext=6c7086
        text=cac4d4

 *
 *
 **/

* {
    background:     #141118;
    background-alt: #262429;
    foreground:     #cac4d4;
    selected:       #b4befe;
    active:         #b4befe;
    urgent:         #F28FADFF;
}
